logging
os
tempfile # To handle temporary file saving for uploads
pandas Import Pandas for DataFrame
PIL 
pyzbar
requests # Library to send HTTP requests - asking web server for data
json
google.generativeai